<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            WhatsOn Offers & Events
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content>


    <ion-row  *ngFor="let items of empresas">
        <ion-col *ngFor="let item of items" width-50 class="promocion-imagen"
                 (click)="goToPerfil(item)">
            <ion-card *ngIf="item">


                <div class="empresa-imagen">
                    <img [src]="item.image_name?item.image_name:'build/images/empty.png'" />
                </div>
                <h2 class="card-title">
                    <b> {{item.nombre}}</b>
                    <ion-icon name='checkmark-circle' item-right [ngStyle]="{color: item.color}"></ion-icon>
                </h2>
                <ion-item>
                    <span style="font-size:12px;" item-left>12 Seguidores</span>
                    <ion-icon name='heart-outline' item-right style="color: #55acee"></ion-icon>
                </ion-item>

            </ion-card>
        </ion-col>

    </ion-row>

    <h1 *ngIf="categoria.slug == 'vacio'" style="text-align: center; padding-top: 50%;">Elija una categoría de
        empresa</h1>

</ion-content>