<ion-header>

    <ion-toolbar>
        <ion-buttons start>
            <button ion-button color="primary" (click)="dismiss(false)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            {{ 'comentarPublicacion' |translate }}
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-textarea style="height: 150px;" [(ngModel)]="comentario" [placeholder]="('escribirComentario' | translate)">
    </ion-textarea>
    <button (click)="comentar()" ion-button block> {{ 'comentar' |translate }}</button>

</ion-content>