<ion-header>
    <ion-navbar>
        <button *ngIf="!showSearch" ion-button menuToggle>
            <img src="assets/img/logos/favicon.png"
                 class="logo-menu">
            <ion-icon name="menu" color="ep-gris-claro" class="btn-menu-hamb"></ion-icon>
        </button>

        <!--TODO
        buscador que hizo sergio por ciudad.
        -->
        <ion-searchbar #searchP [hidden]="!showSearch" [(ngModel)]="search" (ionBlur)="cancelarBusqueda($event)"
                       (ionClear)="cancelarBusqueda($event)" (ionCancel)="cancelarBusqueda($event)"
                       placeholder="Buscar publicaciones y eventos"></ion-searchbar>
        <ion-buttons *ngIf="!showSearch" end>
            <!--<button (click)="modalSearch({charNum: 0})" ion-button icon-only>-->
            <!--<ion-icon name="options"></ion-icon>-->
            <!--</button>-->
            <button (click)="mostrarBusqueda()" ion-button icon-only>
                Posadas
                <ion-icon name="search" color="ep-gris-claro"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="tabs">
            <ion-segment-button value="0" style="text-transform: lowercase; font-size: 1.2em;" (click)="selectedTab()">
                <b class="ep-celeste">even</b><b class="ep-fucsia">prom</b>
            </ion-segment-button>
            <ion-segment-button value="1" (click)="selectedTab()">
                <ion-icon name="home" color="ep-gris-claro"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="2" (click)="selectedTab()">
                <ion-icon name="notifications-outline" color="ep-gris-claro"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="principal">
    <div [ngSwitch]="tabBody">
        <ion-slides pager #mySlider (ionDidChange)="onSlideChanged()">

            <ion-slide *ngSwitchCase="tabBody">

                <ion-refresher (ionRefresh)="doRefresh($event)">
                    <ion-refresher-content
                            pullingIcon="arrow-dropdown"
                            pullingText="Suelte para actualizar"
                            refreshingSpinner="circles"
                            refreshingText="Actualizando...">
                    </ion-refresher-content>
                </ion-refresher>

                <ion-grid no-padding no-padding *ngIf="errorNoConexion">
                    <ion-row no-padding>
                        <ion-col text-center width-100 no-padding>
                            <h1>
                                No hay conexión a internet.
                            </h1>
                            <h4>
                                Arrastre la parte superior hacia abajo para actualizar
                            </h4>
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding>
                        <ion-col text-center width-100 no-padding>
                            <img src="assets/img/noconexion.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-grid (click)="toastPromo(promoCalendario)" no-padding no-padding *ngIf="promoCalendario">
                    <ion-row no-padding>
                        <ion-col text-center width-100 no-padding>
                            <h1 [ngStyle]="{'background-color': promoCalendario.color, color: '#FFF', padding:'5px', margin:'0px'}">
                                {{promoCalendario.titulo}}

                            </h1>

                        </ion-col>
                    </ion-row>

                    <ion-row no-padding class="img-publicacion-content">
                        <ion-col no-padding>
                            <img style="width: 100%;" [src]="promoCalendario.imagen_publicacion"/>
                            <div class="img-promo-subtitle">
                                {{ promoCalendario.nombre_empresa | uppercase}}
                            </div>

                        </ion-col>
                    </ion-row>


                </ion-grid>

                <ion-list *ngIf="publicaciones">
                    <item-list-empresa
                            *ngFor="let publicacion of (publicaciones | filterPublicaciones:search); let isFirst = first"
                            [publicacion]="publicacion" [isFirst]="isFirst">
                    </item-list-empresa>
                </ion-list>

            </ion-slide>

            <ion-slide *ngSwitchCase="tabBody">
                <h2>Empresas</h2>
            </ion-slide>
            <ion-slide *ngSwitchCase="tabBody" class="notificaciones">
                <h2>Notificaciones</h2>
                Configura tus notificaciones por:

                <ion-row>
                    <ion-col width-33>
                        <ion-label>Localidad</ion-label>
                        <ion-item>
                            <ion-label>Toppings</ion-label>
                            <ion-select multiple="true" [(ngModel)]="notificacionesLocalidad">
                                <ion-option *ngFor="let localidad of localidades" [value]="localidad.id">
                                    {{localidad.descripcion}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>


                    <ion-col width-33>
                        <ion-label>Descuentos</ion-label>
                        <ion-item>
                            <ion-select multiple="true" [(ngModel)]="notificacionesDescuentos">
                                <ion-option *ngFor="let descuento of descuentos" [value]="descuento.id">
                                    {{descuento.nombre}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>


                    <ion-col width-33>
                        <ion-label>Eventos</ion-label>
                        <ion-item>
                            <ion-select [(ngModel)]="notificacionesEventos">
                                <ion-option value="si">SI</ion-option>
                                <ion-option value="no">NO</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>


                </ion-row>

                <ion-row>
                    <ion-col width-33>
                        <ion-label>Empresas</ion-label>
                        <ion-item>
                            <ion-select multiple="true" [(ngModel)]="notificacionesEmpresa">
                                <ion-option *ngFor="let empresa of empresas" [value]="empresa.id">
                                    {{empresa.nombre}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        <ion-label>Gastronomia</ion-label>
                        <ion-item>
                            <ion-select multiple="true" [(ngModel)]="notificacionesGastronomia">
                                <ion-option *ngFor="let gastronomi of gastronomia" [value]="gastronomi.id">
                                    {{gastronomi.nombre}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        <ion-label>Compras</ion-label>
                        <ion-item>
                            <ion-select multiple="true" [(ngModel)]="notificacionesCompras">
                                <ion-option *ngFor="let servicio of servicios" [value]="servicio.id">
                                    {{servicio.nombre}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col width-33>
                        <ion-label>Entretenimiento</ion-label>
                        <ion-item>
                            <ion-select multiple="true" [(ngModel)]="notificacionesEntretenimiento">
                                <ion-option *ngFor="let e of entretenimiento" [value]="e.id">
                                    {{e.nombre}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col width-33>
                        <ion-label>Rubro</ion-label>
                        <ion-item>
                            <ion-label>Toppings</ion-label>
                            <ion-select multiple="true" [(ngModel)]="notificacionesRubro">
                                <ion-option *ngFor="let r of rubros" [value]="r.id">
                                    {{r.nombre}}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>

                    <ion-col width-33>
                        <ion-label>Segun tu onda</ion-label>
                        <ion-item>
                            <ion-select multiple="true" [(ngModel)]="notificacionesOnda">
                                <ion-option *ngFor="let onda of ondas" [value]="onda.id">{{onda.nombre}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col text-center>
                        <button ion-button outline round (click)="guardarPerfil()">Aplicar</button>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides>
    </div>

    <ion-fab right bottom>
        <button mini ion-fab color="ep-gris" (click)="modalSearch({charNum: 0})">
            <ion-icon name="funnel"></ion-icon>
        </button>
        <button mini ion-fab color="ep-gris" (click)="modalUbicaciones()">
            <ion-icon name="pin"></ion-icon>
        </button>
    </ion-fab>
</ion-content>