<ion-header>
    <ion-navbar>
        <button *ngIf="!showSearch" ion-button menuToggle style="text-transform: lowercase; font-size: 1.2em;">
            <img src="assets/img/logos/favicon.png"
                 class="logo-menu">
            <ion-icon name="menu" color="ep-gris-claro" class="btn-menu-hamb" style="margin-left:10px;"></ion-icon>
          <b class="ep-celeste" style="margin-left:5px;">Even</b><b class="ep-fucsia">Prom</b>
        </button>

        <!--TODO
        buscador que hizo sergio por ciudad.
        -->
        <!--<ion-searchbar #searchP [hidden]="!showSearch" [(ngModel)]="search" (ionBlur)="cancelarBusqueda($event)"-->
        <!--(ionClear)="cancelarBusqueda($event)" (ionCancel)="cancelarBusqueda($event)"-->
        <!--[placeholder]="('buscarEvenProms' | translate)"></ion-searchbar>-->

        <ion-title>
            <!--<ion-item [hidden]="!showSearch">-->
                <!--<ion-label>{{'localidad' | translate}}</ion-label>-->
                <!--<ion-select [cancelText]="('cancelar' | translate)" [okText]="('ok' | translate)" #searchP center [(ngModel)]="search">-->
                    <!--<ion-option *ngFor="let l of localidades"-->
                                <!--[value]="l.descripcion !='Sin Filtros' ? l.descripcion:''">-->
                        <!--{{l.descripcion | uppercase}}-->
                    <!--</ion-option>-->

                <!--</ion-select>-->
            <!--</ion-item>-->
        </ion-title>
        <ion-buttons *ngIf="!showSearch && tabBody =='0'" end class="end-buttons">
            <!--<button (click)="modalSearch({charNum: 0})" ion-button icon-only>-->
            <!--<ion-icon name="options"></ion-icon>-->
            <!--</button>-->
            <button (click)="show_alert()" ion-button icon-right>
                <span>{{locals}}</span>
                <ion-icon>
                  <img src="assets/img/down.png">
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="tabs">
            <ion-segment-button value="0" (click)="selectedTab()">
                <!--<b class="ep-celeste">Even</b><b class="ep-fucsia">Prom</b>-->
              <ion-icon name="ios-home" color="ep-gris"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="1" (click)="selectedTab()">
                <ion-icon color="ep-gris">
                  <img src="assets/img/business.png" style="width:18px;">
                </ion-icon>
            </ion-segment-button>
            <ion-segment-button value="2" (click)="selectedTab()">
                <ion-icon name="ios-notifications" color="ep-gris"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="principal">
    <div *ngIf="tabs == 0">
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
                    pullingIcon="arrow-dropdown"
                    [pullingText]="'pull-to-refresh' | translate"
                    refreshingSpinner="circles"
                    [refreshingText]="actualizando | translate">
            </ion-refresher-content>
        </ion-refresher>
    </div>


    <div [ngSwitch]="tabBody">
        <!--<divs pager="progress" #mySlider (ionSlideDidChange)="onSlideChanged()">-->

        <div *ngSwitchCase="0">

            <ion-grid no-padding no-padding *ngIf="errorNoConexion">
                <ion-row no-padding>
                    <ion-col text-center width-100 no-padding>
                        <h4>
                            Arrastre la parte superior hacia abajo para actualizar
                        </h4>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid (click)="toastPromo(promoCalendario)" no-padding no-padding *ngIf="promoCalendario">
                <ion-row no-padding>
                    <ion-col text-center width-100 no-padding>
                        <h1 *ngIf="promoCalendario.color"
                            [ngStyle]="{'background-color': promoCalendario.color, color: '#FFF', padding:'5px', margin:'0px'}">
                            {{promoCalendario.titulo}}
                        </h1>
                        <h1 *ngIf="!promoCalendario.color"
                            [ngStyle]="{'background-color': promoCalendario.color, padding:'5px', margin:'0px'}">
                            {{promoCalendario.titulo}}
                        </h1>

                    </ion-col>
                </ion-row>

                <ion-row no-padding class="img-publicacion-content">
                    <ion-col no-padding>
                        <img [preview]="true" [srcPreview]="promoCalendario.imagen_publicacion" style="width: 100%;"
                             [src]="promoCalendario.imagen_publicacion"/>
                        <div class="img-promo-subtitle">
                            {{ promoCalendario.nombre_empresa | uppercase}}
                        </div>

                    </ion-col>
                </ion-row>


            </ion-grid>

            <ion-list *ngIf="publicaciones">
                <item-list-empresa
                        *ngFor="let publicacion of (publicaciones | filterPublicaciones:search); let isFirst = first"
                        [publicacion]="publicacion" [isFirst]="isFirst">
                </item-list-empresa>
            </ion-list>

        </div>

        <div *ngSwitchCase="1">
            <!--<h2>Empresas</h2>-->
            <page-empresas></page-empresas>
        </div>
        <div *ngSwitchCase="2">
            <page-notificaciones></page-notificaciones>
        </div>
        <!--</ion-slides>-->
    </div>



    <ion-fab right bottom *ngIf="tabs == 0">
        <button mini ion-fab color="ep-celeste" (click)="modalSearch({charNum: 0})">
            <ion-icon name="ios-options"></ion-icon>
        </button>
        <button mini ion-fab color="ep-celeste" (click)="modalUbicaciones()">
            <ion-icon name="pin"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
