page-principal {
  ion-fab {
    display: inline-flex;
  }

  /* ----------- Galaxy S5 ----------- */

  /* Portrait */
  @media only screen and (min-device-width: 412px) and (orientation: portrait) {
    .notificaciones .item {
      width: 45%;
      margin-left: 25%;
      border-radius: 90px;
      background-color: color($colors, ep-celeste);
      height: 60px;
    }
  }

  /* Portrait */
  @media only screen and (min-device-width: 320px) and (max-device-width: 411px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .notificaciones .item {
      width: 45%;
      margin-left: 25%;
      border-radius: 90px;
      background-color: color($colors, ep-celeste);
      height: 40px;
    }
  }

  /* ----------- HTC one ----------- */

  /* Portrait */
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .notificaciones .item {
      width: 40%;
      margin-left: 25%;
      border-radius: 90px;
      background-color: color($colors, ep-celeste);
      height: 45px;
    }
  }

  /* ----------- Galaxy Tab 10.1 ----------- */

  /* Portrait and Landscape */
  @media(min-device-width: 800px) and (max-device-width: 1280px) {

  }

  /* Portrait */
  @media(min-device-width: 601px) and(max-device-width: 800px) and (orientation: portrait) {
    .notificaciones .item {
      width: 40%;
      margin-left: 25%;
      border-radius: 90px;
      background-color: color($colors, ep-celeste);
      height: 100px;
    }
  }

  /* Landscape */
  @media(max-device-width: 1280px) and (orientation: landscape) {

  }

  /* ----------- Asus Nexus 7 ----------- */

  /* Portrait and Landscape */
  @media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {

  }

  /* Portrait */
  @media screen and (device-width: 600px) and (orientation: portrait) {
    .notificaciones .item {
      width: 40%;
      margin-left: 25%;
      border-radius: 90px;
      background-color: color($colors, ep-celeste);
      height: 75px;
    }
  }

  /* Landscape */
  @media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {

  }

}

item-list-empresa {
  .promo {
    font-size: 2em;
    font-weight: bold;
  }
}

.logo-menu {
  width: 50%;
  margin-left: -20% !important;
  position: absolute;
}

.publicacion {
  border-bottom: solid 1px color($colors, ep-gris-claro);
}

.publicacion-premium {
  max-height: 250px;
}

.margen-publicacion-izq-premium {
  overflow: hidden;
}

item-list-empresa {
  //ion-list-header {
  //  background-color: transparent;
  //}
  .publicacion-item {
    border-bottom-width: 3px;
    margin-bottom: 0px;
    background-color: transparent;
  }
}

.empresa-item ion-label {
  margin: 0px !important;
}

.ep-gris-claro {
  color: color($colors, ep-gris-claro);
}

.ep-gris {
  color: color($colors, ep-gris);
}

.ep-celeste {
  color: color($colors, ep-celeste);
}

.ep-fucsia {
  color: color($colors, ep-fucsia);
}

.h1-empresa {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  font-weight: 900;
}

.btn-flotantes-publicacion {
  top: 5%;
  right: 5%;
  position: absolute;
}

.img-publicacion-content {
  position: relative;
  text-align: right;
  height: 35%;
}

.img-publicacion-content-modal {
  position: relative;
  text-align: right;
}

.borde-icono-publicacion {
  border-right: 2px solid;
  padding-right: 5px;
}

.img-publicacion-img {
  border-radius: 5px;
  max-height: none !important;
  width: 100%;
}

.img-publicacion-subtitle {
  position: absolute;
  text-align: center;
  top: 50%;
  padding: 1.4%;
  border-radius: 10px 0px 0px 10px;
  width: auto;
  max-width: 60%;
  right: 0%;
  font-size: 2em;
  color: #fff;
  font-weight: 900;
  float: right;
  white-space: normal;
}

.img-promo-subtitle {
  position: absolute;
  text-align: center;
  top: 60%;
  padding: 2%;
  border-radius: 10px 5px;
  width: auto;
  max-width: 60%;
  right: 0%;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  float: right;
  white-space: normal;

}

.tarjetas-content > img {
  height: 32px;
  width: 51px;
}

.publicacion-fecha-border {
  border-bottom: solid 1px color($colors, ep-gris-claro);
}

.header-preview-publicacion {
  .toolbar-background {
    background-color: inherit !important;

  }
  .back-button {
    color: inherit !important;
  }
  .toolbar-title {
    color: inherit !important;
  }
}

.item {
  border: 1px color($colors, ep-gris-claro) solid !important;
}

.fab {
  display: inline !important;
}

/* Portrait */
/* Portrait and Landscape */

@media screen and (max-width: 420px) {

  .label-md {
    margin: 1px 8px 1px 0 !important;
  }

  .texto-publicacion {
    height: 50px;
  }
  .imagen-publicacion img {
    height: 90px;
    width: 100%;
    top: -13px;
    display: inline-block;
    padding-top: 5px;

  }

  .imagen-publicacion {
    max-height: 90px;
    text-align: center;
    border: none !important;
    padding: 0px;
    margin: 0px !important;
  }

  .imagen-publicacion ion-label {
    margin: 0px !important;
  }

  .publicacion-promocion {
    font-size: 2em;
    font-weight: bold;
    margin-top: 25%;
  }

  .publicacion-descripcion {
    //font-size: 30px;
    //font-weight: bold;
    //margin-top: 10%;
  }

  .empresa-nombre {
    margin-top: 25%;
    font-size: 20px;
    font-weight: bold;
    //font-size: 15px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 420px) {
  .texto-publicacion {
    height: 65px;
  }

  .imagen-publicacion img {
    height: 150px;
    width: 100%;
    top: -13px;
    display: inline-block;
    padding-top: 5px;
  }

  .imagen-publicacion {
    max-height: 155px;
    text-align: center;
    border: none !important;
    padding: 0px;
  }

  .imagen-publicacion ion-label {
    margin: 0px !important;
  }

  .publicacion-promocion {
    font-size: 35px;
    font-weight: bold;
  }

  .empresa-nombre {
    margin-top: 20px;
    //font-size: 20px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .texto-publicacion {
    height: 65px;
  }

  .imagen-publicacion img {
    height: 150px;
    width: 100%;
    top: -13px;
    display: inline-block;
    padding-top: 5px;
    padding: 0px;
  }

  .imagen-publicacion {
    max-height: 155px;
    text-align: center;
    padding: 0px;
    border: none !important;
  }

  .imagen-publicacion ion-label {
    margin: 0px !important;
  }

  .publicacion-promocion {
    font-size: 35px;
    font-weight: bold;
  }

  .empresa-nombre {
    margin-top: 20px;
    //font-size: 20px;
  }
}

.modal-preview-publicacion {

  .img-ion-card {
    position: relative;
    text-align: right;
  }

  .card-title {
    position: absolute;
    top: 75%;
    padding-right: 10%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 90%;
    width: 100%;
    color: #fff;
  }

}

.item-publicacion, .item-publicacion-left, .item-publicacion-mid, .item-publicacion-premium-left {
  border-style: solid;
  border-top: none;
  border-left: none;
  //border-radius: 15px;
  border-right: none;
  background-color: #fff;
}

.item-publicacion-left {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.img-publicacion-premium {
  margin-bottom: -1%;
  border-top-left-radius: 15px;
}

.item-publicacion-premium-left {
  border-bottom-left-radius: 15px;
}

.fecha-publicacion, .hora-publicacion {
  //margin-top: -10% !important;
  //position: absolute;
  font-size: 7px;
}

.icono-categoria {
  margin-top: 100%;
}

.item-publicacion-botones {
  //border-radius: 5%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 13px;
}

.btn-item-publicacion {
  border-radius: 50%;
  background-color: #fff;
  color: color($colors, ep-gris);
  //color: #D1DBE3;
}

.color-gris {
  color: color($colors, ep-gris);
}

.no-padding {
  padding: 0px !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

//notificaciones
.notificaciones .item {
  width: 40%;
  margin-left: 25%;
  border-radius: 90px;
  background-color: color($colors, ep-celeste);
}



