$ep-gris: #5C666F;
$ep-gris-claro: #D1DBE3;

$ep-celeste:#00c0cf;
$ep-fucsia:#d45ce6;

.page-principal {
  ion-row {
    //background-color: #fff;
  }
  .promo {
    font-size: 4em;
    font-weight: bold;
  }
}

.principal {
  //background-color: $ep-gris-claro;
}

.publiacion {
  border-bottom: solid 1px $ep-gris-claro;
}

item-list-empresa {
  //ion-list-header {
  //  background-color: transparent;
  //}
  .publicacion-item {
    border-bottom-width: 3px;
    margin-bottom: 0px;
    background-color: transparent;
  }
}

.empresa-item ion-label {
  margin: 0px !important;
}

.ep-gris-claro{
  color: $ep-gris-claro;
}

.ep-gris{
  color: $ep-gris;
}


.ep-celeste{
  color: $ep-celeste;
}

.ep-fucsia{
  color: $ep-fucsia;
}

.h1-empresa{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-flotantes-publicacion{
  top: 5%;
  right: 5%;
  position: absolute;
}

.img-publicacion-content {
  position: relative;
  text-align: right;
}


.img-publicacion-img {
  border-radius: 5px;
  max-height: 270px;
  width: 100%;
}

.img-publicacion-subtitle {
  position: absolute;
  text-align: center;
  top: 50%;
  padding: 2%;
  border-radius: 5px 0px 0px 5px;
  width: auto;
  max-width: 60%;
  right: 0%;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  float: right;
  white-space: normal;
}

.img-promo-subtitle{
  position: absolute;
  text-align: center;
  top: 60%;
  padding: 2%;
  border-radius: 10px 5px;
  width: auto;
  max-width: 60%;
  right: 0%;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  float: right;
  white-space: normal;

}

.tarjetas-content>img{
  height: 32px;
  width: 51px;
}

.publicacion-fecha-border {
  border-bottom: solid 1px $ep-gris-claro;
}

.margen-publicacion-izq-premium{
  margin-left: 7.5%;
  padding: 0px;
  padding-left: 5px;
}

.margen-publicacion-izq-premium-no{
  margin-left: 6.0%;
  padding: 0px;
  padding-left: 5px;
}

.header-preview-publicacion {
  .toolbar-background {
    background-color: inherit !important;

  }
  .back-button{
    color: inherit !important;
  }
  .toolbar-title{
    color: inherit !important;
  }
}

.item {
  border: 1px $ep-gris-claro solid !important;
}

.fab {
  display: inline !important;
}

/* Portrait */
/* Portrait and Landscape */

@media screen and (max-width: 420px) {

  .label-md{
    margin: 1px 8px 1px 0 !important;
  }

  .texto-publicacion {
    height: 50px;
  }
  .imagen-publicacion img {
    height: 90px;
    width: 100%;
    top: -13px;
    display: inline-block;
    padding-top: 5px;

  }

  .imagen-publicacion {
    max-height: 90px;
    text-align: center;
    border: none !important;
    padding: 0px;
    margin: 0px !important;
  }

  .imagen-publicacion ion-label {
    margin: 0px !important;
  }

  .publicacion-promocion {
    font-size: 2em;
    font-weight: bold;
    margin-top: 25%;
  }

  .publicacion-descripcion {
    //font-size: 30px;
    //font-weight: bold;
    //margin-top: 10%;
  }

  .empresa-nombre {
    margin-top: 25%;
    font-size: 20px;
    font-weight: bold;
    //font-size: 15px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 420px) {
  .texto-publicacion {
    height: 65px;
  }

  .imagen-publicacion img {
    height: 150px;
    width: 100%;
    top: -13px;
    display: inline-block;
    padding-top: 5px;
  }

  .imagen-publicacion {
    max-height: 155px;
    text-align: center;
    border: none !important;
    padding: 0px;
  }

  .imagen-publicacion ion-label {
    margin: 0px !important;
  }

  .publicacion-promocion {
    font-size: 35px;
    font-weight: bold;
  }

  .empresa-nombre {
    margin-top: 20px;
    //font-size: 20px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .texto-publicacion {
    height: 65px;
  }

  .imagen-publicacion img {
    height: 150px;
    width: 100%;
    top: -13px;
    display: inline-block;
    padding-top: 5px;
    padding: 0px;
  }

  .imagen-publicacion {
    max-height: 155px;
    text-align: center;
    padding: 0px;
    border: none !important;
  }

  .imagen-publicacion ion-label {
    margin: 0px !important;
  }

  .publicacion-promocion {
    font-size: 35px;
    font-weight: bold;
  }

  .empresa-nombre {
    margin-top: 20px;
    //font-size: 20px;
  }
}

.modal-preview-publicacion {

  .img-ion-card {
    position: relative;
    text-align: right;
  }

  .card-title {
    position: absolute;
    top: 75%;
    padding-right: 10%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 90%;
    width: 100%;
    color: #fff;
  }

}

.item-publicacion, .item-publicacion-left, .item-publicacion-mid, .item-publicacion-premium-left  {
  border-style: solid;
  border-top: none;
  border-left: none;
  //border-radius: 15px;
  border-right: none;
  background-color: #fff;
}

.item-publicacion-left {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.img-publicacion-premium{
  margin-bottom: -1%;
  border-top-left-radius: 15px;
}

.item-publicacion-premium-left {
  border-bottom-left-radius: 15px;
}

.fecha-publicacion, .hora-publicacion {
  //margin-top: -10% !important;
  //position: absolute;
  font-size:7px;
}

.icono-categoria{
  margin-top: 100%;
}

.item-publicacion-botones {
  //border-radius: 5%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 13px;
}

.btn-item-publicacion {
  border-radius: 50%;
  background-color: #fff;
  color: $ep-gris;
  //color: #D1DBE3;
}

.color-gris {
  color: $ep-gris;
}

.no-padding{
  padding: 0px !important;
}

.no-padding-top{
  padding-top: 0px !important;
}






