<ion-header>
    <ion-navbar>
        <!--<button ion-button menuToggle end>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Page Uno</ion-title>-->
        <button ion-button menuToggle>
            <img src="assets/img/logos/favicon.png" style="width: 50%; margin-left: -20%; position: absolute;">
            <ion-icon name="menu"></ion-icon>
        </button>

        <!--<ion-title>-->
        <!--WhatsOn Offers & Events-->
        <!--</ion-title>-->

        <ion-buttons end>
            <button (click)="modalSearch({charNum: 0})" ion-button icon-only>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="tipoPublicacion">
            <ion-segment-button value="all" style="text-transform: lowercase;">
                <b class="ep-celeste">even</b><b class="ep-fucsia">prom</b>
            </ion-segment-button>
            <ion-segment-button value="oferta" (click)="pageEmpresas()">
                <ion-icon name="home"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="sitios">
                <ion-icon name="notifications-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="principal">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Suelte para actualizar"
                refreshingSpinner="circles"
                refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid no-padding no-padding *ngIf="errorNoConexion">
        <ion-row no-padding>
            <ion-col text-center width-100 no-padding>
                <h1>
                    No hay conexión a internet.
                </h1>
                <h4>
                    Arrastre la parte superior hacia abajo para actualizar
                </h4>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col text-center width-100 no-padding>
                <img src="assets/img/noconexion.png">
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid (click)="toastPromo(promoCalendario)" no-padding no-padding *ngIf="promoCalendario">
        <ion-row no-padding>
            <ion-col text-center width-100 no-padding>
                <h1 [ngStyle]="{'background-color': promoCalendario.color, color: '#FFF', padding:'5px', margin:'0px'}">
                    {{promoCalendario.titulo}}

                </h1>

            </ion-col>
        </ion-row>

        <ion-row no-padding class="img-publicacion-content">
            <ion-col no-padding>
                <img style="width: 100%;" [src]="promoCalendario.imagen_publicacion"/>
                <div class="img-promo-subtitle">
                    {{ promoCalendario.nombre_empresa | uppercase}}
                </div>

            </ion-col>
        </ion-row>


    </ion-grid>
    <ion-list *ngIf="publicaciones">


        <item-list-empresa
                *ngFor="let publicacion of (publicaciones | filterPublicaciones:tipoPublicacion); let isFirst = first"
                [publicacion]="publicacion" [isFirst]="isFirst">


        </item-list-empresa>
    </ion-list>

    <ion-fab right bottom>
        <!--<button ion-fab color="light" (click)="modalSearch({charNum: 0})">-->
        <!--<ion-icon name="options"></ion-icon>-->
        <!--</button>-->
        <button mini ion-fab color="dark" (click)="modalUbicaciones()">
            <ion-icon name="pin"></ion-icon>
        </button>
    </ion-fab>
</ion-content>