page-empresas {
  .button[icon-only]{
    padding: 50px;
  }

  .img-categoria{
    max-height: 33%;
  }

  //slider categorias
  .white-space-initial {
    white-space:initial;
  }

  .white-space-nowrap {
    white-space:nowrap;
  }

  ::-webkit-scrollbar
  {
    width: 1px;  /* for vertical scrollbars */
    height: 1px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track
  {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb
  {
    background: rgba(0, 0, 0, 0.5);
  }

  .scroll-hidden-x-container {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    margin: 0px auto;
  }
  .scroll-hidden-x-inner{
    width: 100%;
    overflow-x: auto;
    height: 100%;
    padding-bottom: 15px;
  }
}
