<!--
  Generated template for the Empresas page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-navbar>
            Empresas <span *ngIf="categoriaSel" > <b>{{categoriaSel.nombre}} </b> </span>
        </ion-navbar>
        <ion-buttons *ngIf="categoriaSel" end>
            <button ion-button>
                <ion-icon [name]="categoriaSel.icono"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="img-categoria">
        <img src="assets/img/6.jpg" class="img-responsive">
    </ion-row>
    <ion-row>
        <div class="scroll-hidden-x-container">
            <div class="scroll-hidden-x-inner">
                <ion-row>
                    <div *ngFor="let categoria of categorias" class="div-categorias-btn">
                        <button *ngIf="!categoriaSel" (click)="loadEmpresasBySlug(categoria)" ion-button icon-only large color="light" round class="btn-categorias">
                            <ion-icon [name]="categoria.icono"></ion-icon>
                        </button>
                        <button *ngIf="categoriaSel && categoria.slug != categoriaSel.slug" (click)="loadEmpresasBySlug(categoria)" ion-button icon-only large color="light" round class="btn-categorias">
                            <ion-icon [name]="categoria.icono"></ion-icon>
                        </button>
                        <button *ngIf="categoriaSel && categoria.slug == categoriaSel.slug" (click)="loadEmpresasBySlug(categoria)" ion-button icon-only large color="default" round class="btn-categorias">
                            <ion-icon [name]="categoria.icono"></ion-icon>
                        </button>
                    </div>


                </ion-row>
            </div>
        </div>
    </ion-row>
    <ion-grid>
        <ion-row class="responsive-sm" wrap>
            <ion-col width-50 class="promocion-imagen"
                     (click)="goToPerfil(item)" *ngFor="let item of empresas">
                <ion-card *ngIf="item">


                    <div class="empresa-imagen">
                        <img [src]="item.image_name?item.image_name:'assets/img/empty.png'"/>
                    </div>
                    <h2 class="card-title">
                        <b> {{item.nombre}}</b>
                        <ion-icon name='checkmark-circle' item-right [ngStyle]="{color: item.color}"></ion-icon>
                    </h2>
                    <ion-item>
                        <span style="font-size:12px;" item-left>12 Seguidores</span>
                        <ion-icon name='heart-outline' item-right style="color: #55acee"></ion-icon>
                    </ion-item>

                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>


