<!--<ion-header>-->
<!--<ion-toolbar>-->
<!--<ion-navbar text-center>-->
<!--<ion-title style="padding-right: 25px;" *ngIf="!rubroSel"> Empresas</ion-title>-->
<!--<ion-title style="padding-right: 25px;" *ngIf="rubroSel">  {{rubroSel.nombre}} </ion-title>-->
<!--</ion-navbar>-->

<!--<ion-buttons *ngIf="rubroSel" end>-->
<!--<button ion-button>-->
<!--<ion-icon [name]="rubroSel.icono"></ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->
<!--<ion-content>-->
<ion-row class="img-rubro">
    <!--<img style="width: 100%;" [src]="rubroSel.image_name" *ngIf="rubroSel">-->
    <ion-slides pager (ionSlideDidChange)="slideChanged()" #sliderRubros>
        <ion-slide *ngFor="let rubro of rubros">
            <img [src]="rubro.image_name" class="slide-image"/>
        </ion-slide>
    </ion-slides>
</ion-row>
<ion-row>
    <div class="scroll-hidden-x-container">
        <div class="scroll-hidden-x-inner">
            <ion-row>
                <div *ngFor="let rubro of rubros; let i=index" class="div-rubros-btn">
                    <button *ngIf="!rubroSel" (click)="loadEmpresasBySlug(rubro, i)" ion-button icon-only large
                            color="light" round class="btn-rubros">
                        <ion-icon [name]="rubro.icono?rubro.icono:'home'"></ion-icon>
                    </button>
                    <button *ngIf="rubroSel && rubro.slug != rubroSel.slug" (click)="loadEmpresasBySlug(rubro, i)"
                            ion-button icon-only large color="light" round class="btn-rubros">
                        <ion-icon [name]="rubro.icono?rubro.icono:'home'"></ion-icon>
                    </button>
                    <button *ngIf="rubroSel && rubro.slug == rubroSel.slug" (click)="loadEmpresasBySlug(rubro,i)"
                            ion-button icon-only large color="default" round class="btn-rubros">
                        <ion-icon [name]="rubro.icono?rubro.icono:'home'"></ion-icon>
                    </button>
                </div>


            </ion-row>
        </div>
    </div>
</ion-row>
<ion-grid>

    <ion-row class="responsive-sm" wrap>
        <item-empresa
                *ngFor="let item of empresas"
                [empresa]="item">
        </item-empresa>
    </ion-row>


</ion-grid>
<!--</ion-content>-->



