<ion-header class="header-preview-publicacion">
    <ion-navbar>
        <img src="assets/img/logos/favicon.png" style="width: 10%;">
    </ion-navbar>
</ion-header>

<ion-content class="empresa-perfil" *ngIf="empresa">
    <ion-row>
        <ion-col width-20>
            <ion-avatar item-left>
                <img [src]="empresa.image_name">
            </ion-avatar>
        </ion-col>
        <ion-col width-80>
            <ion-row>
                <ion-col width-75>
                    <h1 [ngStyle]="{'color': empresa.color, margin:'0px'}">{{ empresa.nombre | uppercase }}</h1>
                </ion-col>
                <ion-col width-25>
                    <ion-row>
                        <ion-col>
                            <ion-icon *ngIf="empresa.rubros.length >0" [name]="empresa.rubros[0].icono"></ion-icon>

                        </ion-col>
                        <ion-col>
                            <img *ngIf="empresa.ondas.length >0 " [src]="empresa.ondas[0].icono">
                        </ion-col>
                    </ion-row>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    {{empresa.descripicion}}
                </ion-col>
            </ion-row>

        </ion-col>
    </ion-row>
    <ion-card>
        <ion-card-content>
            <!--<video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4" />
      </video>-->
            <div *ngIf="empresa.link_youtube!=null" class="video-container" text-center>
                <iframe class="video" [src]="link_youtube" frameborder="0" allowfullscreen></iframe>

            </div>
            <div *ngIf="empresa.link_youtube==null" class="video-container" text-center>
                <ion-icon style="font-size:150px; color: #E62117; text-align: center;" name="logo-youtube"></ion-icon>
                <br>
                Video no disponible
            </div>
        </ion-card-content>
        <ion-item [ngStyle]="{'background-color':empresa.color}">
            <button ion-button clear item-left (click)="call(empresa.id, empresa.contacto.telefono)" class="btn-call">
                <ion-icon name="call"></ion-icon>
            </button>

            <button ion-button icon-right clear item-right (click)="sendMail(empresa.contacto.mail)" class="btn-mail">
                Enviar Mensaje
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-item>
    </ion-card>

    <div class="scroll-hidden-x-container">
        <div class="scroll-hidden-x-inner">
            <ion-row>
                <ion-col (click)="openFileChooser()" class="text-center" width-50>
                    <ion-icon style="font-size:50px;" name="camera"></ion-icon>
                    <br>Añadir una foto
                </ion-col>
                <ion-col  *ngFor="let img of imagenes" class="text-center" width-50>
                    <img [preview]="true" style="max-height: 140px;" class="img-responsive" [src]="img.imagen_usuario_empresa">
                    <!--<ion-note>{{ img.persona.nombre}} {{img.persona.apellido}}</ion-note>-->

                        <ion-item style="border: none !important;">
                            <ion-avatar item-left>
                                <img [src]="mainService.getAvatar(img.fbId, img.gId)" [default]="'assets/img/avatar.png'">
                            </ion-avatar>
                            <p>{{ img.persona.nombre}} </p>
                            <p>{{ img.persona.apellido}} </p>

                        </ion-item>

                </ion-col>


            </ion-row>
        </div>
    </div>
    <ion-row>
        <ion-col text-center>
            <button ion-button>Ver Eventos y Promociones Hoy</button>
        </ion-col>
    </ion-row>
    <ion-row class="row-novedades">
        <ion-col text-center>
            <h2>Novedades</h2>
            <ion-slides pager>

                <ion-slide *ngFor="let noticia of noticias">
                    <ion-card>
                        <img [src]="noticia.noticia.image_name"/>
                        <ion-card-content>
                            <ion-card-title>
                                {{ noticia.noticia.titulo }}
                            </ion-card-title>

                            <div [innerHTML]="noticia.noticia.cuerpo">

                            </div>

                        </ion-card-content>
                    </ion-card>
                </ion-slide>


            </ion-slides>

        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-right>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span>0</span>
            <br>
            <span>0</span>
            <ion-icon name="person"></ion-icon>
        </ion-col>
        <ion-col text-right>
            <a (click)="openUrl(empresa.contacto.web)">
                <span>Sitio Web</span>
                <span><ion-icon name="globe"></ion-icon></span>
            </a>
            <br>
            <a>
                <span>Cómo Llegar?</span>
                <span><ion-icon name="pin"></ion-icon></span>
            </a>

        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <a (click)="shareWhastApp(empresa.nombre ,empresa.image_name, empresa.contacto.web)"
               style="text-decoration: none;" href="#">
                <button color="color-whatsapp" large round ion-button icon-only>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </button>
            </a>
            <a (click)="shareFacebook(empresa.nombre ,empresa.image_name, empresa.contacto.web)"
               style="text-decoration: none;" href="#">
                <button color="color-facebook" large round ion-button icon-only>
                    <ion-icon name="logo-facebook"></ion-icon>
                </button>
            </a>
            <a (click)="share(empresa.nombre ,empresa.image_name, empresa.contacto.web)" style="text-decoration: none;"
               href="#">
                <button color="ep-violeta" large round ion-button icon-only>
                    <ion-icon name="share"></ion-icon>
                </button>
            </a>
            <a style="text-decoration: none;" href="#">
                <button color="ep-rojo" large round ion-button icon-only>
                    <ion-icon name="notifications-outline"></ion-icon>
                </button>
            </a>
        </ion-col>
    </ion-row>

    <ion-list>
        <ion-item *ngFor="let c of comentarios">
            <ion-avatar item-left>
                <img [src]="mainService.getAvatar(c.fbId, c.gId)" [default]="'assets/img/avatar.png'">
            </ion-avatar>
            <h2>{{c.persona.nombre}} {{c.persona.apellido}}</h2>
            <p>{{c.texto}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img *ngIf="mainService.user" [src]="mainService.user.avatar" [default]="'assets/img/avatar.png'">
            </ion-avatar>
            <h2>Yo</h2>
            <ion-textarea placeholder="Escribí un comentario" [(ngModel)]="comentario"></ion-textarea>

            <button (click)="comentar()" ion-button clear icon-only item-right>
                <ion-icon name="send" is-active="false"></ion-icon>
            </button>
        </ion-item>
    </ion-list>

</ion-content>