<ion-item-group *ngFor="let d of data">

    <ion-item-divider (click)="toggleDetails(d)" light>
        <b>{{d.title | translate}}</b>

        <ion-icon style="font-weight: bold;" primary item-right
                  [name]="d.showDetails?'arrow-dropdown':'arrow-dropup'"></ion-icon>
    </ion-item-divider>

    <ion-searchbar [(ngModel)]="d.search" [hidden]="d.showDetails" [placeholder]="'Buscar ' + d.title" *ngIf="d.autocomplete"  [showCancelButton]="true"></ion-searchbar>

    <ion-list *ngIf="!d.autocomplete">
        <ion-item [hidden]="d.showDetails" *ngFor="let item of d.items" icon-right>

            <ion-label color="primary" *ngIf="item.active">{{ item.text }}</ion-label>
            <ion-label *ngIf="!item.active">{{item.text}}</ion-label>
            <ion-checkbox [(ngModel)]="item.active"></ion-checkbox>

        </ion-item>
    </ion-list>

    <ion-list *ngIf="d.autocomplete">
        <ion-item  [hidden]="d.showDetails" *ngFor="let item of d.items | filterPublicaciones: d.search" icon-right>

            <ion-label color="primary" *ngIf="item.active">{{item.text}}</ion-label>
            <ion-label *ngIf="!item.active">{{item.text}}</ion-label>
            <ion-checkbox [(ngModel)]="item.active"></ion-checkbox>

        </ion-item>

    </ion-list>
</ion-item-group>
