<ion-list-header *ngIf="empresa.premium" class="empresa-imagen">
    <img [src]="empresa.imagen_publicacion" />
</ion-list-header>

<ion-list-header *ngIf="empresa.premium" class="empresa-item" [ngStyle]="{'border-bottom-color': empresa.color}">
    <ion-icon style="font-size: 2.4rem;" [name]="empresa.categorias[0].icono" item-left></ion-icon>
    <ion-grid>
        <ion-row class="texto-publicacion">
            <!--<div class="led-box">-->
                <!--<div class="led-red"></div>-->
            <!--</div>-->
            <!--<div class="led-box">-->
                <!--<div class="led-blue"></div>-->
            <!--</div>-->
          
            <ion-col class="empresa-nombre" width-45>{{empresa.titulo}}</ion-col>
            <ion-col [ngStyle]="{'color': empresa.color}" class="empresa-promocion" width-55>{{empresa.promocion}}</ion-col>
        </ion-row>
    </ion-grid>
    <ion-icon name="heart" item-right></ion-icon>
    <ion-icon name="text" item-right></ion-icon>
</ion-list-header>

<ion-list-header *ngIf="!empresa.premium" class="empresa-item" [ngStyle]="{'border-bottom-color': empresa.color}">
    <ion-icon style="font-size: 2.4rem;" [name]="empresa.categorias[0].icono" item-left></ion-icon>
    <ion-grid>
        <ion-row>
            <ion-col class="empresa-nombre" width-60>{{empresa.titulo}}</ion-col>
            <ion-col [ngStyle]="{'color': empresa.color}" class="empresa-promocion" width-40>{{empresa.promocion}}</ion-col>
        </ion-row>
    </ion-grid>
    <ion-icon name="heart" item-right></ion-icon>
    <ion-icon name="text" item-right></ion-icon>
</ion-list-header>