<ion-header>
    <ion-navbar>
        <!--<button menuToggle end>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Page Uno</ion-title>-->
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <!--<ion-title>-->
        <!--WhatsOn Offers & Events-->
        <!--</ion-title>-->

        <ion-segment [(ngModel)]="medidor" >
            <ion-segment-button value="medidores">
                Publicaciones
            </ion-segment-button>
            <ion-segment-button value="todos">
                Todos
            </ion-segment-button>
            <ion-segment-button value="tiemporeal">
                Eventos
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button (click)="modalSearch({charNum: 0})">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="about">
    <ion-list>
        <!--<ion-item *ngFor="let empresa of empresas" [ngStyle]="{'border-bottom-color': empresa.color}">
          <ion-card>

            <img src="http://www.clipartbest.com/cliparts/biy/EML/biyEMLBET.png" />
            <ion-card-content>
              <h2 class="card-title">
                Björk
              </h2>
              <p>
                Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
              </p>
            </ion-card-content>
          </ion-card>
          <ion-icon name="leaf" item-left></ion-icon>
          <ion-grid>
            <ion-row>
              <ion-col class="empresa-nombre" width-60>{{empresa.nombre}}</ion-col>
              <ion-col [ngStyle]="{'color': empresa.color}" class="empresa-promocion" width-40>2x1</ion-col>
            </ion-row>
          </ion-grid>
          <ion-icon name="rose" item-right></ion-icon>
        </ion-item>-->

        <item-list-empresa (click)="modalPreviewPublicacion(empresa)" *ngFor="let empresa of publicaciones"
                           [empresa]="empresa">

        </item-list-empresa>
    </ion-list>
</ion-content>