// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.text-center {
  text-align: center;
}

.menu-header {
  //height: 35%;
  max-height: 250px;
  background-color: #f53d3d;

  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
    min-height: 125px;
    max-width: 125px;
    border-radius: 50%;
  }
}

.ondas-usuario {
  height: 6rem;
}

.no-padding-top-button {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.no-margin-top-button {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

//custom font
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

body, span, button, h1, h2, h3, h4, h5, h6, ion-note {
  font-family: 'Poppins' !important;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
  border-color: color($colors, ep-celeste);
}

.a-editar-perfil {
  color: #fff;
}

.btn-redondo {
  height: 6rem;
}

.vertical-mid-container {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex!important;
  justify-content: center;
}

.vertical-mid-inner {
  align-self: center;
}
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

body, span, button, h1, h2, h3, h4, h5, h6, ion-note {
  font-family: 'Poppins' !important;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
  border-color: color($colors, ep-celeste);
}

.a-editar-perfil {
  color: #fff;
}

.btn-redondo {
  height: 6rem;
}
