export const parameters: Object =
{
    apiUrl: "http://evenprom.com/test",
    apiPath: "/app_dev.php/",
    telefono: "+5493757518400",
    googleReverseClientId: "123abc1231abc.apps.googleusercontent.com",
    googleAnalyticsTrackId : "UA-123123",
    pushSenderID: '123123123',
    googleProjectId: '101010101010101',
    oneSignalAppId: 'eeeeeee-aaaa-1111-1234-123456789012'
}
