<ion-header>
    <ion-navbar>
        <ion-title>{{empresa.nombre}}</ion-title>
        <ion-buttons end>
            <button>
                <ion-icon [name]="icono"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="empresa-perfil" *ngIf="empresa">
    <ion-card>
        <ion-card-content>
            <!--<video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4" />
      </video>-->
            <div *ngIf="empresa.link_youtube!=null" class="video-container" text-center>
                <iframe  class="video" [src]="link_youtube" frameborder="0" allowfullscreen></iframe>

            </div>
            <div *ngIf="empresa.link_youtube==null" class="video-container" text-center>
                <ion-icon style="font-size:150px; color: #E62117; text-align: center;" name="logo-youtube"></ion-icon>
                <br>
                Video no disponible
            </div>
        </ion-card-content>
        <ion-item>
            <button clear item-left>
                <ion-icon name="share"></ion-icon>
            </button>
            <button (click)="focusInput(comentarioId)" clear item-left>
                <ion-icon name="text"></ion-icon>
            </button>
            <button clear item-right>
                <ion-icon name="heart"></ion-icon>
            </button>
        </ion-item>
    </ion-card>

    <div class="scroll-hidden-x-container">
        <div class="scroll-hidden-x-inner">
            <ion-row>
                <ion-col class="text-center" width-50>
                    <ion-icon style="font-size:50px;" name="camera"></ion-icon>
                    <br>Añadir una foto
                </ion-col>
                <ion-col class="text-center" width-50>
                    <img class="img-responsive" src="http://www.clipartbest.com/cliparts/biy/EML/biyEMLBET.png">
                </ion-col>
                <ion-col class="text-center" width-50 center>
                    <img class="img-responsive" src="http://www.clipartbest.com/cliparts/biy/EML/biyEMLBET.png">
                </ion-col>
                <ion-col class="text-center" width-50>
                    <img class="img-responsive" src="http://www.clipartbest.com/cliparts/biy/EML/biyEMLBET.png">
                </ion-col>
                <ion-col class="text-center" width-50>
                    <img class="img-responsive" src="http://www.clipartbest.com/cliparts/biy/EML/biyEMLBET.png">
                </ion-col>
                <ion-col class="text-center" width-50>
                    <img class="img-responsive" src="http://www.clipartbest.com/cliparts/biy/EML/biyEMLBET.png">
                </ion-col>


            </ion-row>
        </div>
    </div>

    <ion-list>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://www.followingthenerd.com/site/wp-content/uploads/avatar.jpg_274898881.jpg">
            </ion-avatar>
            <h2>Finn</h2>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://www.followingthenerd.com/site/wp-content/uploads/avatar.jpg_274898881.jpg">
            </ion-avatar>
            <h2>Finn</h2>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://www.followingthenerd.com/site/wp-content/uploads/avatar.jpg_274898881.jpg">
            </ion-avatar>
            <h2>Finn</h2>
            <p>I've had a pretty messed up day. If we just...</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://www.followingthenerd.com/site/wp-content/uploads/avatar.jpg_274898881.jpg">
            </ion-avatar>
            <h2>Finn</h2>
            <comment-text text='Ive had a pretty messed up day. If we just ;as;as;d;sdsd;sdfsdf'></comment-text>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://www.followingthenerd.com/site/wp-content/uploads/avatar.jpg_274898881.jpg">
            </ion-avatar>
            <h2>Mi usuario</h2>
            <ion-textarea #comentarioId [(ngModel)]="comentario" placeholder="Escribi un comentario">></ion-textarea>
            <ion-icon name="send" item-right></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>