.comida {
}

.promocion-imagen{
    //max-height: 150px;
    text-align: center;
    border: none !important;
    padding: 0px !important;
}

// .promocion-imagen img{
//     max-height: 65px;

// }

.card-titless{
    padding-left: 3px;
}

// .img-responsive-20{
//     width: auto;
//     height: 20%;
// }