<!--<ion-list-header *ngIf="empresa.premium" class="empresa-imagen">
    <img [src]="empresa.imagen_publicacion"/>
</ion-list-header>-->

<ion-list-header *ngIf="empresa.premium" class="publicacion-item" [ngStyle]="{'border-bottom-color': empresa.color}">
    <ion-grid>
        <!--<ion-row>
            <ion-col offset-10 width-80>
                <img [src]="empresa.imagen_publicacion"/>
            </ion-col>
        </ion-row>-->
        <ion-row wrap>
           
            <ion-col width-10>
                <ion-row *ngIf="empresa.tipo_publicacion=='oferta'">
                    <span class="hora-publicacion">{{empresa.hora_inicio }}</span>
                </ion-row>
                <ion-row>
                    <span class="fecha-publicacion">{{empresa.fecha_inicio | date:'dd-MMM' | uppercase }}</span>
                </ion-row>
                <ion-row>
                    <ion-icon style="font-size: 2.4rem;" class="icono-categoria"
                              [name]="empresa.categorias[0]?empresa.categorias[0].icono:'ice-cream'"
                    ></ion-icon>
                </ion-row>
            </ion-col>
             <ion-col width-80 class="no-padding">
                    <ion-row>
                        <ion-col width-100 class="no-padding">
                            <img class="img-publicacion-premium" [src]="empresa.imagen_publicacion"/>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col [ngStyle]="{'border-bottom-color': empresa.color}" class="color-gris item-publicacion-premium-left no-padding-top"
                     width-50 (click)="modalPreviewPublicacion(empresa)" >
                
                <ion-row *ngIf="empresa.promocion" text-center>
                    <span class="publicacion-promocion">{{empresa.promocion | uppercase}}</span>
                </ion-row>
                <ion-row *ngIf="!empresa.promocion" text-center>
                    <span class="publicacion-promocion">{{empresa.titulo | uppercase}}</span>
                </ion-row>
                <ion-row *ngIf="empresa.descripcion" >
                    <span class="publicacion-descripcion">{{empresa.descripcion}}</span>
                </ion-row>
                
            </ion-col>
            <ion-col [ngStyle]="{'border-bottom-color': empresa.color}"
                     class="item-publicacion-mid no-padding-top" width-50 

                     (click)="modalPreviewPublicacion(empresa)">
                <ion-row center margin-left>
                <span [ngStyle]="{'color': empresa.color}" class=" empresa-nombre">{{empresa.nombre_empresa | uppercase}}</span>
                </ion-row>
            </ion-col>
                    </ion-row>
             </ion-col>
             
            
            <ion-col width-10 [ngStyle]="{'background-color': empresa.color}" class="item-publicacion-botones">
                <ion-row>
                    <button ion-button icon-only small class="btn-item-publicacion" (click)="addPublicacionFav()">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>
                </ion-row>
                <ion-row>
                    <button ion-button icon-only small class="btn-item-publicacion" (click)="comentPublicacion()">
                        <ion-icon name="text"></ion-icon>
                    </button>
                </ion-row>
                <ion-row>
                    <button ion-button icon-only small class="btn-item-publicacion" (click)="sharePublicacion()">
                        <ion-icon name="share"></ion-icon>
                    </button>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-list-header>

<ion-list-header *ngIf="!empresa.premium" class="publicacion-item" [ngStyle]="{'border-bottom-color': empresa.color}">
    <!--<ion-grid>-->
    <!--<ion-col width-20>-->
    <!--<ion-row>-->
    <!--<span *ngIf="empresa.tipo_publicacion=='oferta'"-->
    <!--class="hora-publicacion">{{empresa.hora_inicio }}</span>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
    <!--<span class="fecha-publicacion">{{empresa.fecha_inicio | date:'dd-MMM' | uppercase }}</span>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
    <!--<ion-icon style="font-size: 2.4rem;"-->
    <!--[name]="empresa.categorias[0]?empresa.categorias[0].icono:'ice-cream'"-->
    <!--&gt;</ion-icon>-->
    <!--</ion-row>-->
    <!--</ion-col>-->
    <!--<ion-icon style="font-size: 2.4rem;" name="ice-cream" item-left></ion-icon>-->
    <!--</ion-grid>-->
    <ion-grid>
        <ion-row>
            <ion-col width-10>
                <ion-row *ngIf="empresa.tipo_publicacion=='oferta'">
                    <span class="hora-publicacion">{{empresa.hora_inicio }}</span>
                </ion-row>
                <ion-row>
                    <span class="fecha-publicacion">{{empresa.fecha_inicio | date:'dd-MMM' | uppercase }}</span>
                </ion-row>
                <ion-row>
                    <ion-icon style="font-size: 2.4rem;" class="icono-categoria"
                              [name]="empresa.categorias[0]?empresa.categorias[0].icono:'ice-cream'"
                    ></ion-icon>
                </ion-row>
            </ion-col>
            <ion-col [ngStyle]="{'border-bottom-color': empresa.color}" class="color-gris item-publicacion-left"
                     width-40 (click)="modalPreviewPublicacion(empresa)" >
                <ion-row *ngIf="empresa.promocion" text-center>
                    <span class="publicacion-promocion">{{empresa.promocion | uppercase}}</span>
                </ion-row>
                <ion-row *ngIf="!empresa.promocion" text-center>
                    <span class="publicacion-promocion">{{empresa.titulo | uppercase}}</span>
                </ion-row>
                <ion-row *ngIf="empresa.descripcion" >
                    <span class="publicacion-descripcion">{{empresa.descripcion}}</span>
                </ion-row>
            </ion-col>
            <ion-col [ngStyle]="{'border-bottom-color': empresa.color}"
                     class="item-publicacion-mid" width-40

                     (click)="modalPreviewPublicacion(empresa)">
                <ion-row center margin-left>
                <span [ngStyle]="{'color': empresa.color}" class=" empresa-nombre">{{empresa.nombre_empresa | uppercase}}</span>
                </ion-row>
            </ion-col>
            <ion-col width-10 [ngStyle]="{'background-color': empresa.color}" class="item-publicacion-botones">
                <ion-row>
                    <button ion-button icon-only small class="btn-item-publicacion" (click)="addPublicacionFav()">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>
                </ion-row>
                <ion-row>
                    <button ion-button icon-only small class="btn-item-publicacion" (click)="comentPublicacion()">
                        <ion-icon name="text"></ion-icon>
                    </button>
                </ion-row>
                <ion-row>
                    <button ion-button icon-only small class="btn-item-publicacion" (click)="sharePublicacion()">
                        <ion-icon name="share"></ion-icon>
                    </button>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-list-header>