<ion-grid  *ngIf="isFirst" >
    <ion-row>
        <ion-col text-left>
          <b class="ep-gris">  {{getMesByFecha (empresa.rango_fecha.fecha_desde)}}</b>
        </ion-col>
    </ion-row>
</ion-grid>




<ion-grid class="publiacion" no-padding *ngIf="empresa.premium" no-padding>
    <ion-row (click)="pagePublicacion(empresa)">
        <ion-col style=" margin-left: 3.0%;" width-100>
            <h1 class="h1-empresa" [ngStyle]="{'color': empresa.color}">
                <ion-icon [name]="empresa.categorias[0]?empresa.categorias[0].icono:'ice-cream'"></ion-icon>
                |{{empresa.nombre_empresa}}

            </h1>

        </ion-col>
    </ion-row>
    <ion-row (click)="pagePublicacion(empresa)">
        <ion-col class="margen-publicacion-izq-premium">
            <p>{{empresa.descripcion}}</p>
        </ion-col>
    </ion-row>
    <ion-row (click)="pagePublicacion(empresa)" class="img-publicacion-content">
        <ion-col class="margen-publicacion-izq-premium" no-padding>
            <img class="img-publicacion-img " [src]="empresa.imagen_publicacion"/>
            <div *ngIf="empresa.promocion" class="img-publicacion-subtitle"
                 [ngStyle]="{'background-color':empresa.color}">
                {{empresa.promocion | uppercase}}
            </div>
            <div *ngIf="!empresa.promocion" class="img-publicacion-subtitle"
                 [ngStyle]="{'background-color':empresa.color}">
                {{empresa.titulo | uppercase}}
            </div>
        </ion-col>
    </ion-row>
    <ion-row no-padding>
        <ion-col text-center>
            <button ion-button clear small color="primary" icon-center>
                <ion-icon name='ios-text-outline'></ion-icon>

            </button>
        </ion-col>
        <ion-col text-center>
            <button ion-button clear small color="danger" icon-center>
                <ion-icon name='heart-outline'></ion-icon>

            </button>
        </ion-col>
        <ion-col text-center>
            <button ion-button clear small color="secondary" icon-center>
                <ion-icon name='share'></ion-icon>

            </button>
        </ion-col>
    </ion-row>

</ion-grid>


<ion-grid class="publiacion" *ngIf="!empresa.premium" no-padding>

    <ion-row (click)="pagePublicacion(empresa)">
        <ion-col width-50>

            <h1 class="h1-empresa" [ngStyle]="{'color': empresa.color}">
                <ion-icon [name]="empresa.categorias[0]?empresa.categorias[0].icono:'ice-cream'"></ion-icon>
                |{{empresa.nombre_empresa}}


            </h1>
            <ion-row>
                <ion-col class="margen-publicacion-izq-premium-no">
                    <p>{{empresa.descripcion}}</p>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col width-50 text-right>
            <h1 class="h1-empresa" [ngStyle]="{'color': empresa.color, 'font-size': '4em', 'font-weight': 'bold', 'white-space':'normal'}"
                *ngIf="empresa.promocion" class="promo" text-center>
                {{empresa.promocion | uppercase}}
            </h1>
            <h1 class="h1-empresa" [ngStyle]="{'color': empresa.color, padding:'5px'}"
                *ngIf="!empresa.promocion" class="promo" text-center>
                {{empresa.titulo | uppercase}}
            </h1>
        </ion-col>
    </ion-row>


    <ion-row no-padding>
        <ion-col text-center>
            <button ion-button clear small color="primary" icon-center>
                <ion-icon name='ios-text-outline'></ion-icon>

            </button>
        </ion-col>
        <ion-col text-center>
            <button ion-button clear small color="danger" icon-center>
                <ion-icon name='heart-outline'></ion-icon>

            </button>
        </ion-col>
        <ion-col text-center>
            <button ion-button clear small color="secondary" icon-center>
                <ion-icon name='share'></ion-icon>

            </button>
        </ion-col>
    </ion-row>

</ion-grid>

