<!--<ion-header>-->
<!--<ion-toolbar>-->
<!--<ion-title>-->
<!--{{publicacion.nombre_empresa}}-->
<!--</ion-title>-->
<!--<ion-buttons start>-->
<!--<button ion-button (click)="dismiss()">-->
<!--<ion-icon name="arrow-back" ></ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-header class="header-preview-publicacion">
    <ion-navbar *ngIf="publicacion.color" [ngStyle]="{'background-color':publicacion.color, 'color':'#FFF'}">

        <ion-title text-right>evenprom</ion-title>
    </ion-navbar>
    <ion-navbar *ngIf="!publicacion.color" [ngStyle]="{'background-color':publicacion.color, 'color':'#FFF'}">

        <ion-title text-right>evenprom</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="modal-preview-publicacion">

    <ion-grid>
        <ion-row>
            <ion-col center text-left width-60>
                <ion-note>
                    <h1>
                        <b [ngStyle]="{'color':publicacion.color}">{{publicacion.nombre_empresa | uppercase }}</b>
                    </h1>
                </ion-note>

            </ion-col>

            <ion-col center width-20>

                <button ion-button icon-left clear color="danger">
                    <ion-icon name='checkmark-circle'></ion-icon>
                    <div>{{publicacion.checkins}}</div>
                </button>

            </ion-col>
            <ion-col center width-20>
                <button danger ion-button icon-left clear color="danger">
                    <ion-icon name='heart'></ion-icon>
                    <div>{{publicacion.likes}}</div>
                </button>

            </ion-col>

        </ion-row>

        <ion-row class="img-publicacion-content">
            <ion-col>
                <img class="img-publicacion-img " [src]="publicacion.imagen_publicacion"/>
                <div class="btn-flotantes-publicacion">
                    <button ion-button icon-only clear color="danger" (click)="checkInPublicacion(publicacion.id)">
                        <ion-icon name="checkmark-circle-outline" *ngIf="!publicacion.checkin_persona"></ion-icon>
                        <ion-icon name="checkmark-circle" *ngIf="publicacion.checkin_persona"></ion-icon>
                    </button>
                    <button ion-button icon-only clear color="danger" (click)="addPublicacionFav(publicacion.id)">
                        <ion-icon name='heart-outline' *ngIf="!publicacion.like_persona"></ion-icon>
                        <ion-icon name='heart' *ngIf="publicacion.like_persona"></ion-icon>
                    </button>
                </div>
                <div *ngIf="publicacion.promocion" class="img-publicacion-subtitle"
                     [ngStyle]="{'background-color':publicacion.color, 'margin-right': '5px'}">
                    {{publicacion.promocion | uppercase}}
                </div>
                <div *ngIf="!publicacion.promocion" class="img-publicacion-subtitle"
                     [ngStyle]="{'background-color':publicacion.color, 'margin-right': '5px'}">
                    {{publicacion.titulo | uppercase}}
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="publicacion-fecha-border" text-center>
            <ion-col class="ep-gris" text-right width-40>
                <p>Fecha</p>
                <p>Hora</p>
            </ion-col>
            <ion-col text-left width-60>
                <p>{{publicacion.rango_fecha.fecha_desde}} al {{publicacion.rango_fecha.fecha_hasta}} </p>
                <p>{{publicacion.rango_fecha.hora_desde}} hasta las {{publicacion.hora_hasta}}</p>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col>
                <p class="ep-gris">DESCRIPCIÓN</p>
                <div [innerHTML]="publicacion.cuerpo">

                </div>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col no-padding>
                <div #contenedorMapa>
                    <div style="height: 100%;" id="contenedor-mapa-publicacion">
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>

                <button color="ep-celeste" large round ion-button icon-only
                        (click)="call(publicacion.id, publicacion.contacto_empresa.telefono)">
                    <ion-icon name="call"></ion-icon>
                </button>


                <button color="danger" large round ion-button icon-only (click)="comoLlegar()">
                    <ion-icon name="pin"></ion-icon>
                </button>


                <button (click)="openUrl(publicacion.contacto_empresa.web)" color="ep-violeta" large round ion-button
                        icon-only>
                    <ion-icon name="globe"></ion-icon>
                </button>

            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col class="tarjetas-content">

                <img src="assets/img/tarjetas/mestro.png" alt="Maestro">
                <img src="assets/img/tarjetas/paypal2.png" alt="Paypal">
                <img src="assets/img/tarjetas/mastercard.png" alt="Mastercard">
                <img src="assets/img/tarjetas/visa.png" alt="Visa">
                <img src="assets/img/tarjetas/mercadopago.png" width="51" height="32" alt="mercado pago">
                <img src="assets/img/tarjetas/american-express.png" alt="American Express">

            </ion-col>
        </ion-row>


    </ion-grid>

    <ion-list>
        <ion-item *ngFor="let c of comentarios">
            <ion-avatar item-left>
                <img [src]="mainService.getAvatar(c.fbId, c.gId)" [default]="'assets/img/avatar.png'">
            </ion-avatar>
            <h2>{{c.persona.nombre}} {{c.persona.apellido}}</h2>
            <p>{{c.texto}}</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img *ngIf="mainService.user" [src]="mainService.user.avatar" [default]="'assets/img/avatar.png'">
            </ion-avatar>
            <h2>Yo</h2>
            <ion-textarea placeholder="Escribí un comentario" [(ngModel)]="comentario"></ion-textarea>

            <button (click)="comentar()" ion-button clear icon-only item-right>
                <ion-icon name="send" is-active="false"></ion-icon>

            </button>

        </ion-item>
    </ion-list>
</ion-content>