<!--<ion-header>-->
<!--<ion-toolbar>-->
<!--<ion-title>-->
<!--{{publicacion.nombre_empresa}}-->
<!--</ion-title>-->
<!--<ion-buttons start>-->
<!--<button ion-button (click)="dismiss()">-->
<!--<ion-icon name="arrow-back" ></ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-header class="header-preview-publicacion">
    <ion-navbar *ngIf="publicacion.color" [ngStyle]="{'background-color':publicacion.color, 'color':'#FFF'}">

        <ion-title text-right>evenprom</ion-title>
    </ion-navbar>
    <ion-navbar *ngIf="!publicacion.color" [ngStyle]="{'background-color':publicacion.color, 'color':'#FFF'}">

        <ion-title text-right>evenprom</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="modal-preview-publicacion">

    <ion-grid>
        <ion-row>
            <ion-col center text-left width-60>
                <ion-note>
                    <h1>
                        <b [ngStyle]="{'color':publicacion.color}">{{publicacion.nombre_empresa | uppercase }}</b>
                    </h1>
                </ion-note>

            </ion-col>

            <ion-col center width-20>

                <button ion-button icon-left clear color="danger">
                    <ion-icon name='checkmark-circle-outline'></ion-icon>
                    <div>12</div>
                </button>

            </ion-col>
            <ion-col center width-20>
                <button danger ion-button icon-left clear color="danger">
                    <ion-icon name='ios-people-outline'></ion-icon>
                    <div>12</div>
                </button>

            </ion-col>

        </ion-row>

        <ion-row class="img-publicacion-content">
            <ion-col>
                <img class="img-publicacion-img " [src]="publicacion.imagen_publicacion"/>
                <div *ngIf="publicacion.promocion" class="img-publicacion-subtitle"
                     [ngStyle]="{'background-color':publicacion.color, 'margin-right': '5px'}">
                    {{publicacion.promocion | uppercase}}
                </div>
                <div *ngIf="!publicacion.promocion" class="img-publicacion-subtitle"
                     [ngStyle]="{'background-color':publicacion.color, 'margin-right': '5px'}">
                    {{publicacion.titulo | uppercase}}
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="publicacion-fecha-border" text-center>
            <ion-col class="ep-gris" text-right width-40>
                <p>Fecha</p>
                <p>Hora</p>
            </ion-col>
            <ion-col text-left width-60>
                <p>{{publicacion.rango_fecha.fecha_desde}} al {{publicacion.rango_fecha.fecha_hasta}} </p>
                <p>{{publicacion.rango_fecha.hora_desde}} hasta las {{publicacion.hora_hasta}}</p>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col>
                <p class="ep-gris">DESCRIPCIÓN</p>
                <div [innerHTML]="publicacion.cuerpo">

                </div>
            </ion-col>
        </ion-row>

        <ion-row text-center *ngIf="publicacion.direccion_empresa">
            <ion-col no-padding>
                <div style="height: 100%;" id="contenedor-mapa-publicacion">
                </div>
            </ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col>
                <a style="text-decoration: none;" href="tel://{{publicacion.contacto_empresa.telefono}}">
                    <button color="primary" large round ion-button icon-only>
                        <ion-icon name="call"></ion-icon>
                    </button>
                </a>
                <a style="text-decoration: none;" href="https://www.google.com/maps/place/{{lat}},{{lng}}">
                    <button color="danger" large round ion-button icon-only>
                        <ion-icon name="pin"></ion-icon>
                    </button>
                </a>

                    <button (click)="openUrl(publicacion.contacto_empresa.web)" color="secondary" large round ion-button icon-only>
                        <ion-icon name="globe"></ion-icon>
                    </button>

            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col class="tarjetas-content">

                <img src="assets/img/tarjetas/mestro.png" alt="Maestro">
                <img src="assets/img/tarjetas/paypal2.png" alt="Paypal">
                <img src="assets/img/tarjetas/mastercard.png" alt="Mastercard">
                <img src="assets/img/tarjetas/visa.png" alt="Visa">
                <img src="assets/img/tarjetas/mercadopago.png" width="51" height="32" alt="mercado pago">
                <img src="assets/img/tarjetas/american-express.png" alt="American Express">

            </ion-col>
        </ion-row>


    </ion-grid>

    <!--<ion-list>-->
    <!--<ion-item>-->
    <!--<ion-avatar item-left>-->
    <!--<img src="{{character.image}}">-->
    <!--</ion-avatar>-->
    <!--<h2>{{character.name}}</h2>-->
    <!--<p>{{character.quote}}</p>-->
    <!--</ion-item>-->
    <!--<ion-item *ngFor="let item of character['items']">-->
    <!--{{item.title}}-->
    <!--<ion-note item-right>-->
    <!--{{item.note}}-->
    <!--</ion-note>-->
    <!--</ion-item>-->
    <!--</ion-list>-->
</ion-content>